.writing__content {
    max-width: 968px;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.article__title {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.article__title::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.article__subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.article__subtitle::before {
    content: "➡ ";
}

.article__description {
    max-width: 800px;
    margin-bottom: var(--mb-0-75);
}

